{% extends "base.html" %}

{% load statistics_extras %}

{% block content %}
    <table class="table table-condensed table-hover">
        {% for unit in equipment_list %}
            <tr>
            {% if unit.0.journal %}
                <td>{{ unit.1|make_ident }}<strong>{{ unit.0.name }}</strong>(наработка: {{ unit.0.journal|sum_stat:'wd' }}, остановов: {{ unit.0.journal|sum_stat:'ost' }}, пусков: {{ unit.0.journal|sum_stat:'psk' }})</td>
                <td><a href="{% url 'statistics:show' unit.0.journal.id %}" class="btn btn-primary" role="button">журнал</a></td>
            {% else %}
                <td>{{ unit.1|make_ident }}{{ unit.0.name }}</td>
                <td></td>
            {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock content %}