{% extends "base.html" %}

{% load staticfiles%}

{% load statistics_extras %}

{% block head_ext %}
{{ form_date.media }}
{% endblock head_ext %}

{% block content %}
<h2>Ввод статистики по оборудованию</h2>

    <form action="" method="POST" class="form-inline">
        {% csrf_token %}
        <label for="date">На дату:</label>
        {{ form_date.date }}
        <input type="submit" value="Принять" class="btn btn-primary" />
    </form>

<table class="table table-condensed table-hover">
    {% for unit, ident in equipment_list %}
        <tr>
        {% if unit.journal %}
            {% if not unit.journal.stat_by_parent %}
                <td>
                    <a href="{% url 'statistics:show' unit.journal.id %}">{{ ident|make_ident }}<strong>{{ unit.name }}</strong></a>
                </td>
                <form class="simple-record-form form-inline" action="{% url 'statistics:simple_record_new' unit.journal.id %}" method="POST" role="form">
                <td>
                    {% csrf_token %}
                    <input type="hidden" name="journal_id" value="{{ unit.journal.id }}" />
                    <input type="date" name="date" class="records_date" value="{{ records_dict.date|date:'d.m.Y' }}" readonly size="10" />
                </td>
                    {% if unit.journal.extended_stat %}
                        <td colspan="2" class="row">
                            <div class="form-group col-md-10">
                                <input type="text" name="work" class="work_times" value="00:00" size="3" />
                                <button type="button" class="bnt btn-primary easy-input">&lt; 24РБ</button>
                                <input type="text" name="rsv" class="rsv_times" value="00:00" size="3" />
                                <button type="button" class="bnt btn-primary easy-input">&lt; 24РЗ</button>
                                <input type="text" name="trm" class="trm_times" value="00:00" size="3" />
                                <button type="button" class="bnt btn-primary easy-input">&lt; 24ТР</button>
                                <input type="text" name="arm" class="arm_times" value="00:00" size="3" />
                                <button type="button" class="bnt btn-primary easy-input">&lt; 24АР</button><br />
                                <input type="text" name="krm" class="krm_times" value="00:00" size="3" />
                                <button type="button" class="bnt btn-primary easy-input">&lt; 24КР</button>
                                <input type="text" name="srm" class="srm_times" value="00:00" size="3" />
                                <button type="button" class="bnt btn-primary easy-input">&lt; 24СР</button>
                                <input type="text" name="rcd" class="rcd_times" value="00:00" size="3" />
                                <button type="button" class="bnt btn-primary easy-input">&lt; 24РК</button>
                                П:
                                <input type="number" name="pusk_cnt" min="0" max="5" value="0" style="width: 40px;" />
                                О:
                                <input type="number" name="ostanov_cnt" min="0" max="5" value="0" style="width: 40px;" />
                            </div>
                            <div class="form-group col-md-2">
                                <button type="submit" value="apply" name="submit" class="btn btn-default">oK</button>
                            </div>
                        </td>
                    {% else %}
                        <td id="work-interval-{{unit.journal.id}}">
                            {% if unit.journal.id in records_dict %}
                                {% with rec=records_dict|key:unit.journal.id %}
                                    {{ rec.0|interval }}
                                {% endwith %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            Работа:
                            <button type="button" class="btn btn-default just-work" data-journal_id="{{ unit.journal.id }}" data-date="{{ records_dict.date|date:'d.m.Y' }}" data-work="24:00" data-pusk_cnt="0" data-ostanov_cnt="0">24:</button>
                            или
                            <input type="text" name="work" class="work_times" value="00:00" size="5" />
                            Пуски:
                            <input type="number" name="pusk_cnt" min="0" max="5" value="0" style="width: 40px;" />
                            Остановы:
                            <input type="number" name="ostanov_cnt" min="0" max="5" value="0" style="width: 40px;" />
                            {% if unit.journal.id in records_dict %}
                                {% with rec=records_dict|key:unit.journal.id %}
                                    <input type="hidden" name="record_id" id="rec-id-journal-{{unit.journal.id}}" value="{{ rec.1 }}">
                                {% endwith %}
                            {% else %}
                                <input type="hidden" name="record_id" id="rec-id-journal-{{unit.journal.id}}" value="">
                            {% endif %}
                            <input type="submit" value="<<" class="btn btn-default"/>
                        </td>
                    {% endif %}
                </form>
            {% endif %}
        {% else %}
            <td colspan="4"><h3>{{ ident|make_ident }}{{ unit.name }}</h3></td>
        {% endif %}
        </tr>
    {% endfor %}
</table>
<div id="response-place"></div>
{% endblock content %}

{% block javascript %}
    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(document).ready(function() {
            $('.simple-record-form').submit(function(event) {
                event.preventDefault();
                $.ajax({
                    data: $(this).serialize(),
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    success: function(data) {
                        $("#work-interval-"+data.journal_id).html(data.work);
                        $("#rec-id-journal-"+data.journal_id).attr("value",data.rec_id);
                    }
                });
                return false;
            });
            $('.just-work').click(function() {
                var urldata = $(this).data();
                urldata['csrfmiddlewaretoken'] = getCookie('csrftoken');
                $.ajax({
                    url: '/statistics/' + urldata.journal_id + '/simple_record_new',
                    data: urldata,
                    type: 'POST',
                    success: function(data) {
                        $("#work-interval-"+urldata.journal_id).html(urldata.work);
                        $("#rec-id-journal-"+data.journal_id).attr("value",data.rec_id);
                    }
                });
                return false;
            });
            $('.easy-input').bind('click', function(e) {
                e.preventDefault();
                $(this).prev().val('24:00');
            });
        });
    </script>
{% endblock javascript %}
