{% extends "base.html" %}
{% block content %}
    {% if record_id %}
        <h2>Правка записи журнала статистики работы для {{ journal.equipment.name }}</h2>
        <form action="{% url 'statistics:record_edit' journal.id record_id%}" method="post">
    {% else %}
        <h2>Запись журнала статистики работы для {{ journal.equipment.name }}</h2>
        <form action="{% url 'statistics:record_new' journal.id%}" method="post">
    {% endif %}
        {% csrf_token %}
        <table>
            {{ form }}
            <tr>
                <th>&nbsp;</th>
                <td>
                    <button type="submit" value="apply_and_previous_day" name="submit">Записать и вернуться на день</button>
                    <button type="submit" value="apply_and_finish" name="submit">Записать и закончить</button>
                    <button type="submit" value="apply_and_next_day" name="submit">Записать и перейти к следующему дню</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock content %}