{% extends "base.html" %}
{% load statistics_extras %}
{% block head_ext %}
{{ form.media }}
{% endblock head_ext %}
{% block content %}
    <h3>Журнал статистики {{ journal.equipment }}</h3>
    <!-- <strong>{{ journal.equipment }}</strong>
    <h3>{{ journal.equipment }}</h3> -->
    <strong>Накопленная статистика:</strong>
    Наработка: {{ journal|sum_stat:'wd' }}, остановов: {{ journal|sum_stat:'ost' }}, пусков: {{ journal|sum_stat:'psk' }}
    <!-- <h3>Последние записи журнала работы</h3> -->
    <table class="table table-condensed">
        {% if journal.extended_stat %}
            <tr>
                <th rowspan="2" class="text-center">Дата</th>
                <th rowspan="2" class="text-center">Работа</th>
                <th rowspan="2" class="text-center">Резерв</th>
                <th colspan="4" class="text-center">Ремонт</th>
                <th rowspan="2" class="text-center">Реконструкция</th>
                <th rowspan="2"></th>
            </tr>
            <tr>
                <th class="text-center">Текущий</th>
                <th class="text-center">Аварийный</th>
                <th class="text-center">Капитальный</th>
                <th class="text-center">Средний</th>
            </tr>
        {% else %}
            <tr>
                <th class="text-center">Дата</th>
                <th class="text-center">Работа</th>
                <th></th>
            </tr>
        {% endif %}
        {% for rec in record_list %}
            <tr>
                <td class="text-center">{{ rec.date }}</td>
                <td class="text-center">{{ rec.work|interval }}</td>
                {% if journal.extended_stat %}
                    <td class="text-center">{{ rec.reserv|interval }}</td>
                    <td class="text-center">{{ rec.tek_rem|interval }}</td>
                    <td class="text-center">{{ rec.av_rem|interval }}</td>
                    <td class="text-center">{{ rec.kap_rem|interval }}</td>
                    <td class="text-center">{{ rec.sr_rem|interval }}</td>
                    <td class="text-center">{{ rec.reconstr|interval }}</td>
                {% endif %}
                {% if journal.stat_by_parent %}
                    <td></td>
                {% else %}
                    {% if user.is_authenticated %}
                        <td>
                            <a href="{% url 'statistics:record_edit' journal.id rec.id %}" class="btn btn-primary">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="{% url 'statistics:record_delete' journal.id rec.id %}" class="btn btn-danger">
                                <span class="glyphicon glyphicon-minus-sign"></span>
                            </a>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
        <tr><td>...</td></tr>
    </table>
    {% if not journal.stat_by_parent and user.is_authenticated%}
        <a href="{% url 'statistics:record_new' journal.id %}" class="btn btn-primary">Добавить запись</a><br />
    {% endif %}
    <h3>Записи событий</h3>
    <table class="table table-condensed">
        <tr>
            <th>Дата</th>
            <th>Событие</th>
            <th></th>
        </tr>
        {% for event in event_list %}
            <tr>
                <td>{{ event.date }}</td>
                <td>{{ event.event|human_event }}</td>
                <td>
                    <a href="{% url 'statistics:event_delete' journal.id event.id %}" class="btn btn-danger">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if user.is_authenticated %}
        <form action="{% url 'statistics:event_new' journal.id %}" method="post" class="form-inline">
            {% csrf_token %}
            {{ form }}
        <input type="submit" value="Добавить" class="btn btn-primary"/>
        </form>
    {% endif %}
    <br />
    <p>
        <a href="{% url 'statistics:index' %}" class="btn btn-default active" role="button">К журналам</a>
        <a href="{% url 'statistics:journals_on_date' %}" class="btn btn-default active" role="button">К вводу на дату</a>
        <a href="{% url 'statistics:records' journal.id %}" class="btn btn-default active" role="button">Архив записей</a>
    </p>
{% endblock content %}